/*-- scss:defaults --*/
$primary: #e63946 !default;
$primary-faded: rgba($primary, 0.05) !default;
$primary-light: lighten($primary, 20%) !default;
$primary-dark: darken($primary, 20%) !default;
$primary-darkest: darken($primary, 30%) !default;

$secondary: #a8dadc !default;
$secondary-faded: rgba($secondary, 0.05) !default;
$secondary-light: lighten($secondary, 20%) !default;
$secondary-dark: darken($secondary, 20%) !default;
$secondary-darkest: darken($secondary, 30%) !default;

$light: #edf6f9 !default;
$light-faded: rgba($light, 0.05) !default;

$dark: #222222 !default;
$dark-alt: #333333 !default;
$dark-faded: rgba($dark, 0.05) !default;

$body-bg: $dark !default;
$body-color: $light !default;

// Font
$web-font-path: "https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans:wght@100;400;700&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

$font-family-sans-serif: "Fira Sans", sans-serif;
$font-family-monospace: "Fira Code", monospace;

/*-- scss:rules --*/
p,
ul,
ol {
  font-weight: 100;
}

a {
  text-decoration: none;
  font-weight: 400;
  color: $primary;
}

code {
  color: $primary-light;
}
